{
    "query": {
        "bool": {
            "should": [
                {
                    "multi_match": {
                        "query": "{{ qs }}",
                        "type": "phrase",
                        "slop": 1,
                        "fields": ["text", "author", "title"],
                        "boost": 10
                    }
                },
                {
                    "multi_match": {
                        "query": "{{ qs }}",
                        "type": "best_fields",
                        "operator": "and",
                        "fields": ["text", "author", "title"],
                        "fuzziness": "AUTO",
                        "prefix_length": 1,
                        "boost": 5
                    }
                },
                {
                    "dis_max": {
                        "queries": [
                            {
                                "multi_match": {
                                    "query": "{{ qs }}",
                                    "fields": ["text", "text.english"],
                                    "type": "most_fields",
                                    "fuzziness": "AUTO",
                                    "prefix_length": 1,
                                    "operator": "and"
                                }
                            },
                            {
                                "multi_match": {
                                    "query": "{{ qs }}",
                                    "fields": ["title", "title.english"],
                                    "type": "most_fields",
                                    "fuzziness": "AUTO",
                                    "prefix_length": 1,
                                    "operator": "and"
                                }
                            },
                            {
                                "multi_match": {
                                    "query": "{{ qs }}",
                                    "fields": ["author", "author.english"],
                                    "type": "most_fields",
                                    "fuzziness": "AUTO",
                                    "prefix_length": 1,
                                    "operator": "and"
                                }
                            }
                        ]
                    }
                },
                {
                    "dis_max": {
                        "queries": [
                            {
                                "combined_fields": {
                                    "query": "{{ qs }}",
                                    "fields": ["text", "title", "author"],
                                    "operator": "and"
                                }
                            },
                            {
                                "combined_fields": {
                                    "query": "{{ qs }}",
                                    "fields": ["text.english", "title.english", "author.english"],
                                    "operator": "and"
                                }
                            }
                        ],
                        "boost": 3
                    }
                },
                {
                    "dis_max": {
                        "queries": [
                            {
                                "combined_fields": {
                                    "query": "{{ qs }}",
                                    "fields": ["text", "title", "author"],
                                    "operator": "or",
                                    "minimum_should_match": "2<-25%"
                                }
                            },
                            {
                                "combined_fields": {
                                    "query": "{{ qs }}",
                                    "fields": ["text.english", "title.english", "author.english"],
                                    "operator": "or",
                                    "minimum_should_match": "2<-25%"
                                }
                            }
                        ]
                    }
                }
            ]
        }
    }
}
